# Runtime-generated symlinks into ~/.iotstack (machine-specific absolute
# paths; recreated by setup.sh / iotstack.sh -- must not be committed)
/.iotstack
/.esphome
/iotstack_partition_table.csv
/.iotstack-*-*.yaml
/.temp-ota-upload-*.yaml
/.temp-compile-*.yaml